# Hypothesis Testing: Independent Samples data

In [1]:
#import the packages
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
import datetime as dt
import re

import scipy.stats as stats

# set the graphs to show in the jupyter notebook
%matplotlib inline

# set seabor graphs to a better style
sns.set(style="ticks")

from dateutil.relativedelta import relativedelta

In [2]:
# Load the data
Prices = pd.read_csv( 'Price_Quotes.csv' )
Prices

    Order_Number  Barry_Price  Mary_Price
0              1          126         114
1              2          110         118
2              3          138         114
3              4          142         111
4              5          146         129
5              6          136         119
6              7           94          97
7              8          103         104
8              9          140         127
9             10          152         133
10            11          108         103
11            12           97         108

In [3]:
print('Average price quote of Barry :',Prices.Barry_Price.mean())
print('Average price quote of Mary :',Prices.Mary_Price.mean())

Average price quote of Barry : 124.33333333333333
Average price quote of Mary : 114.75

**Null hypothesis (Ho): There is no difference in the average price quotes provided by Mary and Barry.**
    
**Alternate Hypothesis (Ha) :  There is a difference in the average price quotes provided by Mary and Barry.**
    
**Confidence Interval : 95% ; p-value : 0.05**

In [4]:
stats.ttest_ind(Prices.Barry_Price,Prices.Mary_Price)

Ttest_indResult(statistic=1.4147436739281787, pvalue=0.17114226132118285)

***p-value is more than 0.05, so we can conclude that there is no difference in the average price quotes provided by Mary and Barry.***